# For unmodified docker-compose file
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db/postgres
JWT_SECRET=ur_secret
JWT_ALGORITHM=HS256
# In Days
JWT_EXPIRATION=1
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SQLALCHEMY_SILENCE_UBER_WARNING=1